
  <div class="row">
    <div class="col-md">
      <nav style="text-align:right;margin-top:100px;">
        <h6>  <a style="margin-right:20px" routerLink="/editor/newsList" routerLinkActive="active" >All News</a>
          <a style="margin-right:60px" routerLink="/editor/verifiedList"  >Verified News</a></h6>
      </nav>
    </div>
  </div>
<div class="login">
  <div  class="row">
    <div class="col-md-2">
    </div>
    <div style="margin-top:10px" class="col-md-6">
      <div style="width:600px" class="card">
        <div class="card-body">
          This is some text within a card body.
          <div class="dropdown" style="float: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Agent
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Agent1</a>
            <a class="dropdown-item" href="#">Agent2</a>
            <a class="dropdown-item" href="#">Agent3</a>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
    </div>
    <div style="margin-top:10px" class="col-md-6">
      <div style="width:600px" class="card">
        <div class="card-body">
          This is some text within a card body.
          <div class="dropdown" style="float: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Agent
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Agent1</a>
            <a class="dropdown-item" href="#">Agent2</a>
            <a class="dropdown-item" href="#">Agent3</a>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div style="margin-top:10px" class="col-md-6">
      <div style="width:600px" class="card">
        <div class="card-body">
          This is some text within a card body.
          <div class="dropdown" style="float: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Agent
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Agent1</a>
            <a class="dropdown-item" href="#">Agent2</a>
            <a class="dropdown-item" href="#">Agent3</a>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div style="margin-top:10px" class="col-md-6">
      <div style="width:600px" class="card">
        <div class="card-body">
          This is some text within a card body.
          <div class="dropdown" style="float: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Agent
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Agent1</a>
            <a class="dropdown-item" href="#">Agent2</a>
            <a class="dropdown-item" href="#">Agent3</a>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div style="margin-top:10px" class="col-md-6">
      <div style="width:600px" class="card">
        <div class="card-body">
          This is some text within a card body.
          <div class="dropdown" style="float: right;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Agent
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Agent1</a>
            <a class="dropdown-item" href="#">Agent2</a>
            <a class="dropdown-item" href="#">Agent3</a>
          </div>
        </div>

      </div>
      </div>
    </div>
  </div>
</div>
